[Unit]
Description=Map Daddy Receiver
After=graphical.target network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment="DISPLAY=:0"
WorkingDirectory=@PROJECT_DIR@/renderer-pi
ExecStart=@PROJECT_DIR@/renderer-pi/venv/bin/python mapdaddy_receiver.py
Restart=always
RestartSec=5

[Install]
WantedBy=graphical.target
